
# le nom de domaine que Nginx utilisera.
# Il doit :
# correspondre au certificat SSL
# être dans /etc/hosts
# être utilisé dans la config nginx
# Ce sera l’URL du site.

DOMAIN_NAME=localhost
NGINX_PORT=443

# le nom de la base de données que Postgres va créer.
POSTGRES_DB=transcendencebdd

# l’utilisateur postgres a créer.
# C’est un utilisateur SQL.
POSTGRES_USER=userbdd

